@media only screen and (max-width: 800px) {

body {
    font-family: "Inter", sans-serif;
    background-color: rgb(250, 250, 250);
    color: rgb(30, 30, 30);
    padding-bottom: 100px;
}

#homeRow1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profileName {
    font-size: 30px;
    font-weight: 400;
}

#pip {
    font-weight: 200;
}

.fa-bars {
    font-size: 24px;
}

#menuModal {
    position: fixed;
    top: -500px;
    left: 0;
    background-color: rgb(30, 30, 30);
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-block: 20px;
    align-items: center;
}

#menuCloseButton {
    width: 90%;
    text-align: right;
    font-size: 40px;
    color: rgb(250, 250, 250);
}

.menuItem {
    width: 80%;
    background-color: rgb(250, 250, 250);
    color: rgb(30, 30, 30);
    padding: 20px;
    margin-top: 20px;
}

.menuItemDiv {
    text-align: center;
    width: 100%;
}

#homeTagline {
    font-size: 40px;
    font-weight: 800;
}

#homeRow2 {
    margin-top: 50px;
    text-align: center;
    padding-inline: 20px;
}

#homeRow3 {
    margin-top: 50px;
}

#homeRow3Blog {
    margin-top: 20px;
    color: aqua;
}

a {
    text-decoration: none;
    color: rgb(30, 30, 30);
    display: flex;
}

.header {
    font-size: 30px;
    font-weight: 200;
}

.previewPost {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.previewPostImg {
    width: 100%;
    border-radius: 10px;
}

.previewPostImgDiv {
    width: 90%;
}

.previewCopy {
    width: 100%;
    padding: 10px;
    padding-right: 0px;
}

.previewHeadline {
    font-size: 20px;
    font-weight: 600;
}

.previewBody {
    margin-top: 10px;
}

.blogImg {
    width: 100%;
    border-radius: 10px;
}

#postType {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 200;
}

.blogImg {
    width: 80%;
}

.blogImgDiv {
    margin-top: 20px;
    display: flex;
    justify-content: center;    
}

#postTitle {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 800;
}

#postByline {
    
}

#postCopy {
    margin-top: 20px;
    line-height: 30px;
}

#aboutImg {
    width: 200px;
    border-radius: 10px;
}

.aboutBio {
    line-height: 30px;
}

#aboutImgDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.toolHeader {
    padding: 20px;
    border-radius: 10px;
    color: rgb(250, 250, 250);
    font-size: 30px;
    font-weight: 600;
    margin-top: 40px;
}

.previewTindel {
    background-color: rgb(209, 74, 74);
}

.previewGospelTraining {
    background-color: rgb(222, 189, 0);
}

.bodyCopy {
    margin-top: 20px;
    line-height: 30px;
}

.blogFilterButtonContainer {
    display: flex;
}

.blogFilterButton {
    padding: 10px;
    border-radius: 10px;
    color: rgb(250, 250, 250);
    margin-top: 40px;
    margin-right: 10px;
    background-color: rgb(170, 170, 170);
    min-width: 50px;
    text-align: center;
}

#morePostsButton {
    display: flex;
    font-size: 20px;
    font-weight: 200;
    margin-top: 20px;
    justify-content: center;
}

}

